<div data-controller="game">
  <h2>Waiting_list count: <span data-game-target="waitingListCount"><%= @waiting_list_count %></span></h2>

  <table>
    <thead>
      <tr>
        <th>User ID</th>
        <th>Email</th>
      </tr>
    </thead>

    <tbody>
      <% @waiting_list.each do |id, email| %>
        <tr>
          <td><%= id %></td>
          <td><%= email %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <form data-controller="game" data-action="submit->game#startGameSession">
    <div>
      <label for="game_name">Name of the Game:</label>
      <input type="text" id="game_name" name="game_name" required>
    </div>

    <% (1..5).each do |i| %>
      <div>
        <label for="question_<%= i %>">Question <%= i %> :</label>
        <input type="text" id="question_<%= i %>" name="questions[]" required>
        <input type="text" id="answer_<%= i %>" name="answers[]" required>
      </div>
    <% end %>

    <button type="submit">Start Game</button>
  </form>
  </div>
</div>
